body{
    font-family: Arial, sans-serif;
    padding: 15px;
    width: 200px;
}

h1{
    color: #8673A1;
    font-size: 16px;
    margin-bottom: 20px;

}
select, button{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
button {
    background-color: #D95030;
    color:white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
   background-color: #d63c1a
}
